@import "../../_variables.scss";

.header {
  background-color: $dark-blue;
  display: flex;

  &__badge {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 4rem 0 1rem;
    text-decoration: none;
    color: $white;

    &:hover {
      font-weight: bold;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 3rem;
  }

  &__item-link {
    display: block;
    padding: 0 3rem;
    margin: 0 0.3rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: $white;

    &:hover {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background: $platinum;
      font-weight: bold;
      color: $dark-blue;
    }

    &--active {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background: $white;
      font-weight: bold;
      color: $dark-blue;
    }
  }
}
