<nav class="header">
  <a routerLink="/menu" class="header__badge">
    Dungeon Quest
  </a>
  <ul class="header__list">
    <li class="header__item">
      <a class="header__item-link"
         routerLink="/dungeon"
         [routerLinkActive]="['header__item-link--active']">DUNGEON</a>
    </li>
    <li class="header__item">
      <a class="header__item-link"
         routerLink="/tavern"
         [routerLinkActive]="['header__item-link--active']">TAVERN</a>
    </li>
    <li class="header__item">
      <a class="header__item-link"
         routerLink="/training"
         [routerLinkActive]="['header__item-link--active']">TRAINING</a>
    </li>
  </ul>
</nav>
