<section class="name-form">
  <h2 class="name-form__header">
    Pick a name!
  </h2>
  <form class="name-form__form"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        #nameForm="ngForm">
    <label class="name-form__label" for="name">Select a name for your hero:</label>
    <div class="name-form__group">

      <input class="name-form__group-input"
             id="name"
             name="name"
             type="text"
             ngModel
             required
             #nameInput="ngModel"
             [ngClass]="{'name-form__group-input--error' : nameInput.touched && nameInput.invalid}">
      <span class="name-form__group-info name-form__group-info--error"
            *ngIf="nameInput.touched && nameInput.invalid">
        Please provide a name
      </span>

      <button class="name-form__button name-form__group-button name-form__button--suggest"
              (click)="onSuggestName()" type="button">
        <span *ngIf="!askForLoading">Suggest</span>
        <span class="name-form__button-spinner" *ngIf="askForLoading"></span>
      </button>
      <span class="name-form__group-info"
            *ngIf="askForLoading">Please hold on, as generating name may take a while!</span>

    </div>
    <button class="name-form__button name-form__button--submit"
            type="submit"
            [disabled]="nameForm.invalid">Confirm
    </button>
  </form>
</section>

