@import "../../../_variables.scss";

.map {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-template-rows: 15rem 15rem 15rem;



  &__tile {
    margin: 0;
    padding: 0;


    &--clickable {
      cursor: pointer;
    }


    &-image {
      width: 100%;
      height: 100%;
    }
  }
}
