@import "../../../_variables.scss";

.map {
  border: 1px solid $dark-platinum;

  &__row {
    display: flex;
    flex-wrap: nowrap;
  }

  &__tile {
    width: 13rem;
    height: 13rem;
    border: 0.0625rem solid $dark-platinum;
    display: inline-block;
    pointer-events: none;

    //only way to overwrite size for the customizable background, set in html
    background-size: cover !important;

    &--clickable {
      cursor: pointer;
      pointer-events: auto;
      & .map__tile-image:hover {
        filter: saturate(1.4);
      }
    }

    &-image {
      width: 100%;
      height: 100%;
    }
  }
}
