<section class="map">
  <div class="map__row"
       *ngFor="let row of map.rows">

    <div class="map__tile"
         *ngFor="let tile of row.tiles"
         [routerLink]="[tile.link]"
         [ngClass]="{'map__tile--clickable': tile.clickable}"
         [ngStyle]="{'background': tile.backgroundImagePath !== null ? 'url(' + tile.backgroundImagePath + ')' : 'none'}">
      <img class="map__tile-image"
           [src]="tile.imagePath"
           [alt]="tile.clickable ? ('Map tile with link to ' + tile.link) : 'Not functional map tile'">
    </div>

  </div>
</section>
