@import "../../../_variables.scss";

.navigation {
  width: 3rem;
  height: 3rem;

  &__image {
    &--up {
      transform: rotate(-90deg);
    }
    &--down {
      transform: rotate(90deg);
    }
    &--left {
      transform: rotate(180deg);
    }
  }
}
