<img
  *ngIf="canChangeMap"
  (click)="changeMap()"
  [ngClass]="{'navigation__image--up' : direction===directionTypes.UP,
              'navigation__image--down' : direction===directionTypes.DOWN,
              'navigation__image--right' : direction===directionTypes.RIGHT,
              'navigation__image--left' : direction===directionTypes.LEFT}"
  draggable="false"
  src="assets/images/map/arrow.png"
  alt="Navigation arrow" class="navigation navigation__image">
<div *ngIf="!canChangeMap" class="navigation"></div>
