@import "../../_variables.scss";

.map {
  &__centre {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  &__navigation {
    &--up {
      text-align: center;
    }
    &--down {
      text-align: center;
    }
  }
}
