<section class="stamina">
  <p class="stamina__label">Stamina:</p>
  <app-status-bar [current]="heroService.stamina"
    [max]="heroService.maxStamina"
    [type]="statusBarTypes.STAMINA">
  </app-status-bar>
</section>
<section class="health">
  <p class="health__label">Health:</p>
  <app-status-bar [current]="heroService.health"
    [max]="heroService.maxHealth"
    [type]="statusBarTypes.HEALTH">
  </app-status-bar>
</section>
<section class="equipment">
  <app-equipment></app-equipment>
</section>
