@import "../../../_variables.scss";

.stats {
  list-style: none;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0;
  background-color: $platinum;
  border-radius: 0.25rem;
  border: 0.125rem solid $dark-blue;
  font-weight: normal;
  overflow: hidden;


  &__item {
    padding: 0.5rem;

    &:hover {
      font-weight: bold;

      .stats__icon {
        background-color: $ginger;
        padding: 0;
      }
    }
  }

  &__text {
    font-size: 1.25rem;

    &--name {
      font-weight: bold;
      word-wrap: break-word;
    }
  }

  &__icon {
    position: relative;
    top: 0.5rem;
    height: 2rem;
    margin-right: 0.4rem;
    padding: 0.08rem;
    border: 0.125rem solid black;
    border-radius: 25%;
    background-color: $light-blue;
  }
}
