<ul class="stats">
  <li class="stats__item stats__item--name">
    <span class="stats__text stats__text--name">{{name}}</span>
  </li>
  <li class="stats__item">
    <img src="assets/images/icons/sword.svg" alt="Offence stat icon" class="stats__icon">
    <span class="stats__text">Offence: {{offence}}</span>
  </li>
  <li class="stats__item">
    <img src="assets/images/icons/shield.svg" alt="Defence stat icon" class="stats__icon">
    <span class="stats__text">Defence: {{defence}}</span>
  </li>
  <li class="stats__item">
    <img src="assets/images/icons/armor.svg" alt="Armor stat icon" class="stats__icon">
    <span class="stats__text">Armor: {{armor}}</span>
  </li>
  <li class="stats__item">
    <img src="assets/images/icons/fire.svg" alt="Damage stat icon" class="stats__icon">
    <span class="stats__text">Damage: {{damage}}</span>
  </li>
</ul>
