<ul class="stats">
  <li class="stats__item">
    <span class="stats__text stats__text--name">{{name}}</span>
  </li>
  <li class="stats__item">
    <img src="https://visualpharm.com/assets/687/Sword-595b40b65ba036ed117d257a.svg" alt="Offence stat icon" class="stats__icon">
    <span class="stats__text">Offence: {{offence}}</span>
  </li>
  <li class="stats__item">
    <img src="https://visualpharm.com/assets/441/Shield-595b40b65ba036ed117d240b.svg" alt="Defence stat icon" class="stats__icon">
    <span class="stats__text">Defence: {{defence}}</span>
  </li>
  <li class="stats__item">
    <img src="https://visualpharm.com/assets/708/Body%20Armor-595b40b65ba036ed117d1799.svg" alt="Armor stat icon" class="stats__icon">
    <span class="stats__text">Armor: {{armor}}</span>
  </li>
  <li class="stats__item">
    <img src="https://visualpharm.com/assets/253/Explosion-595b40b65ba036ed117d1bed.svg" alt="Damage stat icon" class="stats__icon">
    <span class="stats__text">Damage: {{damage}}</span>
  </li>
</ul>
