@import "../../_variables.scss";

.tavern {
  margin-top: 6rem;

  &__image {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    height: 20rem;
  }

  &__controls {
    text-align: center;
  }

  &__button {
    min-width: 10rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    margin: 2rem;

    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.15rem $platinum;

    &:hover {
      font-weight: bold;
      transform: scale(1.04);
      box-shadow: 0 0;
    }

    &--sleep {
      background-color: $light-blue;
      border: 0.125rem solid $dark-blue;

    }

    &--work {
      background-color: $yellow;
      border: 0.125rem solid $dark-yellow;
    }

    &-icon {
      margin-right: 0.125rem;
      height: 1.5rem;
      background-color: white;
      border-radius: 50%;
      position: relative;
      top: 0.4rem;
    }
  }
}


.stamina, .health {
  width: 40%;
  margin: 1.25rem auto;


  &__label {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}
