<section class="tavern">
  <img src="assets/images/places/tavern.jpg" alt="Tavern welcome image"
       class="tavern__image">
  <div class="tavern__controls">
    <button class="tavern__button tavern__button--sleep"
            (click)="onSleep()">
      <img src="assets/images/icons/bed.svg"
           alt="Tavern sleep button icon"
           class="tavern__button-icon">
      Sleep
    </button>
    <button class="tavern__button tavern__button--work"
            (click)="onWork()">
      <img src="assets/images/icons/gold.svg" alt="Tavern work button icon"
           class="tavern__button-icon">
      Work
    </button>
  </div>
</section>

<section class="stamina">
  <p class="stamina__label">Stamina:</p>
  <app-status-bar [current]="stamina"
                  [max]="maxStamina"
                  [type]="statusBarTypes.STAMINA">
  </app-status-bar>
</section>

<section class="health">
  <p class="health__label">Health:</p>
  <app-status-bar [current]="health"
                  [max]="maxHealth"
                  [type]="statusBarTypes.HEALTH">
  </app-status-bar>
</section>
<app-to-map></app-to-map>
