<div class="eq-area">
  <div class="eq-area__dummy">
    <app-equipment-dummy
      (itemSelected)="onItemSelected($event)">
    </app-equipment-dummy>
  </div>
  <div class="eq-area__list">
    <app-equipment-list
      (itemSelected)="onItemSelected($event)">
    </app-equipment-list>
  </div>
  <div class="eq-area__details"
       *ngIf="selectedItem">
    <app-equipment-details
      [item]="selectedItem"
      (itemDeselected)="onItemDeselected()">
    </app-equipment-details>
  </div>
</div>
