<section class="game-finished">
  <h2 class="game-finished__header">
    Congratulations {{heroName}}!
  </h2>
  <p class="game-finished__details">You finished the game!</p>
  <div class="game-finished__buttons">
    <a href="#">
      <button class="game-finished__button game-finished__button--tavern">
        Start again
      </button>
    </a>
    <button class="game-finished__button game-finished__button--dungeon"
            (click)="onContinueAdventure()">Continue adventure
    </button>
  </div>
</section>

