<section class="eq-details"
         (click)="onDeselectItem()"
         [ngClass]="{
        'eq-details--common' : item.rarity === rarityType.COMMON,
        'eq-details--rare' : item.rarity === rarityType.RARE,
        'eq-details--epic' : item.rarity === rarityType.EPIC,
        'eq-details--legendary' : item.rarity === rarityType.LEGENDARY}">
  <div class="eq-details__image-slot">
    <img class="eq-details__image"
         [alt]="item.name"
         [src]="item.imagePath">
  </div>

  <div class="eq-details__stats">
    <span class="eq-details__name">{{item.name}}</span>
    <em class="eq-details__type">
      {{item.slotType}}
      <span *ngIf="item.rarity === rarityType.COMMON">(common)</span>
      <span *ngIf="item.rarity === rarityType.RARE">(rare)</span>
      <span *ngIf="item.rarity === rarityType.EPIC">(epic)</span>
      <span *ngIf="item.rarity === rarityType.LEGENDARY">(legendary)</span>
    </em>
    <ul class="eq-details__stats-list">
      <li class="eq-details__stats-list-item"
          *ngFor="let modifier of item.modifiers">
        {{modifier | equipmentModifier}}
      </li>
      <li class="eq-details__stats-list-item">Value: {{item.value}} gold</li>
    </ul>
  </div>

  <div class="eq-details__controls">
    <button class="eq-details__button eq-details__button--sell" (click)="onSellItem(item)">
      <img src="assets/images/icons/gold.svg" class="eq-details__button-icon">
      Sell
    </button>
  </div>
</section>
