.app-view {
  display: flex;

  &__stats {
    width: 12%;
    margin-left: 0.5rem;
  }

  &__stats-list {
    margin: 1rem 0.5rem;
    font-size: 0.5rem;
  }

  &__outlet {
    width: 88%;
  }
}

.stamina, .health {
  margin: 0.75rem;

  &__label {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}

.gold {
  margin: 2rem 0.75rem;
  text-align: center;
}
