<section class="battle-win">
  <h2 class="battle-win__header">
    You won!
  </h2>
  <p class="battle-win__details">You defeated
    <span class="battle-win__name">{{defeatedEnemy.name}} the {{defeatedEnemy.type}}</span>
  </p>
  <p class="battle-win__loot-info">Loot:</p>
  <ul class="battle-win__list">
    <li class="battle-win__item"
        *ngFor="let item of defeatedEnemy.items"
        [ngClass]="{
        'battle-win__item--equipment-common' : item.rarity === rarityType.COMMON,
        'battle-win__item--equipment-rare' : item.rarity === rarityType.RARE,
        'battle-win__item--equipment-epic' : item.rarity === rarityType.EPIC,
        'battle-win__item--equipment-legendary' : item.rarity === rarityType.LEGENDARY}">
      {{item.name}}
    </li>
    <li class="battle-win__item battle-win__item--gold">{{defeatedEnemy.gold}} gold</li>
    <li class="battle-win__item battle-win__item--gold"
        *ngIf="defeatedEnemy.goldFromDiscardedItems > 0">
      {{defeatedEnemy.goldFromDiscardedItems}} gold from discarded items
    </li>
  </ul>
  <div class="battle-win__buttons">
    <button class="battle-win__button battle-win__button--dungeon"
            (click)="onGoToDungeon()">Back to dungeon
    </button>
  </div>
  <app-to-map></app-to-map>
</section>

