@import "../../../_variables.scss";

.battle-win {
  margin: 6rem 10rem;

  &__header {
    font-size: 4rem;
    font-weight: bold;
  }

  &__details {
    font-size: 1.5rem;
  }

  &__name {
    font-weight: bold;
  }

  &__loot-info {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0.5rem;

    &--gold {
      color: $dark-yellow;
    }

    &--equipment-common {
      color: $dark-grey;
    }

    &--equipment-rare {
      color: $green;
    }

    &--equipment-epic {
      color: $purple;
    }

    &--equipment-legendary {
      color: $yellow;
    }
  }

  &__buttons {
    margin: 8rem 0;
    text-align: center;
    padding-right: 10rem;
  }

  &__button {
    min-width: 15rem;
    height: 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
    font-weight: normal;
    color: $white;
    outline: none;
    box-shadow: 0 0.15rem $platinum;

    &:hover {
      font-weight: bold;
      transform: scale(1.04);
      box-shadow: 0 0;
    }

    &--dungeon {
      background-color: $ginger;
      border: 0.125rem solid $dark-ginger;
    }

    &--tavern {
      background-color: $green;
      border: 0.125rem solid $dark-green;
    }
  }
}
