<section class="controls">
  <ul class="controls__info">
    <li class="controls__info-entry"
        *ngFor="let info of enemyDamageInfo; let i = index"
        [@fadeInOut]>
      <span *ngIf="i < maxEntries && i === 0">
        Round {{enemyDamageInfo.length - i}}: Hero took {{info.totalDamage}} damage
        <ul class="controls__info-entry-details">
          <li class="controls__info-entry-details--offence" *ngIf="info.offenceBonus !== 0"> enemy offence bonus: {{info.offenceBonus}}</li>
          <li class="controls__info-entry-details--defence" *ngIf="info.defenceBonus !== 0"> hero defence bonus: {{info.defenceBonus}}</li>
          <li class="controls__info-entry-details--risk" *ngIf="info.attackType === attackType.RISKY"> enemy modifier from Risky Attack: {{info.damageMultiplier}}</li>
        </ul>
      </span>
      <span *ngIf="i < maxEntries && i !== 0">
        Round {{enemyDamageInfo.length - i}}: Hero took {{info.totalDamage}} damage
      </span>
    </li>
  </ul>

  <div class="controls__button-group">
    <button class="controls__button controls__button--normal"
            (click)="onAttack(attackType.DEFAULT)">
      Attack
    </button>
    <button class="controls__button controls__button--risky"
            (click)="onAttack(attackType.RISKY)">
      Risky Attack
    </button>
  </div>

  <ul class="controls__info">
    <li class="controls__info-entry"
        *ngFor="let info of heroDamageInfo; let i = index"
        [@fadeInOut]>
      <span *ngIf="i < maxEntries && i === 0">
        Round {{heroDamageInfo.length - i}}: Hero dealt {{info.totalDamage}} damage
        <ul class="controls__info-entry-details">
          <li class="controls__info-entry-details--offence" *ngIf="info.offenceBonus !== 0"> hero offence bonus: {{info.offenceBonus}}</li>
          <li class="controls__info-entry-details--defence" *ngIf="info.defenceBonus !== 0"> enemy defence bonus: {{info.defenceBonus}}</li>
          <li class="controls__info-entry-details--risk" *ngIf="info.attackType === attackType.RISKY"> hero modifier from Risky Attack: {{info.damageMultiplier}}</li>
        </ul>
      </span>
      <span *ngIf="i < maxEntries && i !== 0">
        Round {{enemyDamageInfo.length - i}}: Hero dealt {{info.totalDamage}} damage
      </span>
    </li>
  </ul>
</section>
