<section class="controls">
  <div class="controls__info controls__info--hero">
    <span class="controls__info-entry"
          *ngFor="let info of enemyDamageInfo.reverse(); let i = index"
          [@fadeInOut]>
      <span *ngIf="i===0">Latest round: </span>
      Took {{info.totalDamage}} damage
    </span>
  </div>
  <div class="controls__button-group">
    <button class="controls__button controls__button--normal"
            (click)="onAttack(attackType.DEFAULT)">
      Attack
    </button>
    <button class="controls__button controls__button--risky"
            (click)="onAttack(attackType.RISKY)">
      Risky Attack
    </button>
  </div>
  <div class="controls__info controls__info--enemy">
    <span class="controls__info-entry"
          *ngFor="let info of heroDamageInfo">
      Took {{info.totalDamage}} damage
    </span>
  </div>
</section>


<!--console.log(`Risky attack with modifier: ${random}`);-->
<!--console.log(`Total damage = ${totalDamage} because-->
<!--offenceBonus: ${offenceBonus}-->
<!--defenceBonus: ${defenceBonus}-->
<!--damage: ${damage}-->
<!--armor: ${armor}-->
<!--and attack type: ${attackType}`);-->
