<section class="training">
  <img src="assets/images/places/training.gif" alt="Training welcome image"
       class="training__image">
  <div class="training__controls">
    <button class="training__button training__button--offence" (click)="onTrainOffence()">
      <img src="assets/images/icons/sword.svg" alt="Training offence button icon"
           class="training__button-icon">
      Train offence
    </button>
    <button class="training__button training__button--defence" (click)="onTrainDefence()">
      <img src="assets/images/icons/shield.svg"
           alt="Training defence button icon"
           class="training__button-icon">
      Train defence
    </button>
  </div>
</section>

<section class="stamina">
  <p class="stamina__label">Stamina:</p>
  <app-status-bar [current]="stamina"
                  [max]="maxStamina"
                  [type]="STATUSBAR_TYPES.STAMINA">
  </app-status-bar>
</section>

<app-to-map></app-to-map>
