<section class="training">
  <img src="https://media.moddb.com/images/articles/1/152/151037/auto/dummyAttack.gif" alt="Training welcome image"
       class="training__image">
  <div class="training__controls">
    <button class="training__button training__button--offence" (click)="onTrainOffence()">
      <img src="https://visualpharm.com/assets/687/Sword-595b40b65ba036ed117d257a.svg" alt="Training offence button icon"
           class="training__button-icon">
      Train offence
    </button>
    <button class="training__button training__button--defence" (click)="onTrainDefence()">
      <img src="https://visualpharm.com/assets/441/Shield-595b40b65ba036ed117d240b.svg"
           alt="Training defence button icon"
           class="training__button-icon">
      Train defence
    </button>
  </div>
</section>

<section class="stamina">
  <p class="stamina__label">Stamina:</p>
  <app-status-bar [current]="heroService.stamina"
                  [max]="heroService.maxStamina"
                  [type]="statusBarTypes.STAMINA">
  </app-status-bar>
</section>
