$font-family: 'Montserrat', sans-serif;

$black: #000;
$white: #FFF;
$light-platinum: #f4f4f4;
$platinum: #EAEAEA;
$dark-platinum: #919191;
$dark-grey: #494949;
$light-blue: #C0D6DF;
$dark-blue: #4F6D7A;
$beige: #E8DAB2;
$ginger: #DD6E42;
$dark-ginger: #9D4F30;
$green: #56801E;
$dark-green: #2D4D16;
$yellow: #FEE12B;
$dark-yellow: #aa951d;
$purple: #6F36AA;

