@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 15px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

