<section class="dungeon__info">
  <section class="dungeon__bar dungeon__bar--hero">
    <app-status-bar [current]="heroHealth"
                    [max]="heroMaxHealth"
                    [type]="STATUSBAR_TYPES.HEALTH">
    </app-status-bar>
  </section>
  <section class="dungeon__bar dungeon__bar--enemy">
    <app-status-bar
      [type]="STATUSBAR_TYPES.ENEMY_HEALTH"
      [current]="currentEnemy.currentHealth"
      [max]="currentEnemy.maxHealth">
    </app-status-bar>
  </section>

  <span class="dungeon__name dungeon__name--hero">{{heroName}}</span>
  <span class="dungeon__level">
    <span class="dungeon__navigation">
      <img class="dungeon__navigation-arrow dungeon__navigation-arrow--previous"
           src="assets/images/map/arrow.png"
           alt="Navigation arrow"
           (click)="onChangeLevel(-1)"
           *ngIf="canChangeLevel(-1)">
    </span>
    Tier {{dungeonLevel}}
    <span class="dungeon__navigation">
      <img class="dungeon__navigation-arrow dungeon__navigation-arrow--next"
           src="assets/images/map/arrow.png"
           alt="Navigation arrow"
           (click)="onChangeLevel(1)"
           *ngIf="canChangeLevel(1)">
    </span>
  </span>
  <span class="dungeon__name dungeon__name--enemy">{{currentEnemy.name}} the {{currentEnemy.type}}</span>
  <span class="dungeon__enemy-stats">
      (Offence: {{currentEnemy.offence}} | Defence: {{currentEnemy.defence}}
    | Armor: {{currentEnemy.armor}} | Damage: {{currentEnemy.damage}})
    </span>

</section>

<section class="dungeon__image-slot"
         [ngStyle]="{'background': 'url(assets/images/places/dungeon.jpg)'}">

  <img class="dungeon__image"
       [alt]="currentEnemy.type"
       [src]="currentEnemy.imagePath">
</section>
