@import "../../../_variables.scss";

.status {
  &__bar {
    content: '';
    border: 0.125rem solid $dark-blue;
    height: 1.2rem;
    overflow: hidden;
    text-align: center;
    border-radius: 0.25rem;
  }

  &__info {
    line-height: 1rem;
  }
}
